body
{
    color: #333; /*color texto*/
    text-align: center; /*alineacion texto*/
    font-family: Arial; /*tipografia texto*/
    font-size: 16px; /*tamaño de texto en pixeles*/
    margin: 0; /**/
    padding: 0;
}

#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%; /*cajita div anño*/
    padding: 1em; /*bordes*/
    text-align: left; /*alineacion del texo*/
    border: 1px solid #DDD; /*caracteristicas borde*/
    margin: 0 auto;/*margen y auto para que se centre*/
}

#container h1
{
    font-size: 20px; /*tamaño del titulo*/
}
